/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 12, 2017, 10:01:22 PM
    Author     : amplifia
*/

* {
	margin: 0;
	padding: 0;
}
/*
Set some defaults for site.
*/
body {
    background: #e6f2ff;
    font-family: 'phosphate', sans-serif;
    font-size: 75px;
    color: lightslategray;
    padding: 0;
    text-align: center;
}
a {
    text-decoration: none;
    color: lightslategray;
}
div
{
    margin: 1em;
}
.projects{   
}
.github {
    
}
.inquire {
    
}
div a:hover {
    
    color: lightgray;
}